<nav class="navbar">
    <div class="navbar-container">
      <a class="navbar-brand" href="#">
        EMSApp</a>
      <ul class="navbar-menu">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/insert">Add Employee</a></li>
        <li><a routerLink="/view">View Employee</a></li>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/contact">Contact Details</a></li>
        <li><a routerLink="/register">Register</a></li>
        <li><a routerLink="/login">Welcome admin     logout</a></li>
      </ul>
    </div>
  </nav>

