<div class="home-wrapper">
  <div class="overlay">
    <div class="hero-content">
      
    <h1>Welcome to EMSApp</h1>
    <p>Efficient, secure, and smart employee management at your fingertips.</p>
    <a routerLink="/insert" class="btn">Add Employee</a>
    <a routerLink="/view" class="btn">View Employees</a>
  </div>


<div class="features">
  <div class="feature-card">
    <h3>Fast & Easy</h3>
    <p>Add and manage employees in seconds with our intuitive interface.</p>
  </div>
  <div class="feature-card">
    <h3>Secure</h3>
    <p>Your data is encrypted and safe with our best security practices.</p>
  </div>
  <div class="feature-card">
    <h3> Real-Time </h3>
    <p>Generate detailed reports for better Understanding .</p>
  </div>
</div>
